[mysqld]
ssl-ca=/etc/mysql/conf.d/server-ca.pem
ssl-cert=/etc/mysql/conf.d/server-cert.pem
ssl-key=/etc/mysql/conf.d/server-key.pem
require_secure_transport=OFF
slow_query_log          = 1
slow_query_log_file     = /dev/stderr
long_query_time = 5
log_error = /dev/stderr
general_log = 1
general_log_file = /dev/stderr
log_queries_not_using_indexes = 0
max_connections         = 505
max_user_connections    = 500
bind-address            = 0.0.0.0
